<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录 - Wikift</title>
    <link rel="stylesheet" th:href="@{/ws/wikift-css/wikift-style.css}">
</head>
<body data-ma-theme="green">
<!-- login from -->
<form action="" method="post">
    <div class="login">
        <div class="login__block active">
            <div class="login__block__header">
                欢迎使用Wikift系统
            </div>
            <div class="login__block__body">
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    <strong>登录失败!</strong> 请检查您的用户名或密码
                </div>
                <div class="form-group form-group--float form-group--centered">
                    <input type="text" class="form-control" name="username">
                    <label>邮箱地址/用户名</label>
                    <i class="form-group__bar"></i>
                </div>
                <div class="form-group form-group--float form-group--centered">
                    <input type="password" class="form-control" name="password">
                    <label>密码</label>
                    <i class="form-group__bar"></i>
                </div>
                <button class="btn btn--icon login__block__btn">登录</button>
            </div>
        </div>
    </div>
</form>
</body>
<script th:src="@{/ws/wikift-vender/js/jquery/jquery.min.js}"></script>
<script th:src="@{/ws/wikift-vender/js/bootstrap/bootstrap.tether.min.js}"></script>
<script th:src="@{/ws/wikift-vender/js/bootstrap/bootstrap.min.js}"></script>
</html>