/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;
}

.login__block {
    max-width: 330px;
    width: 100%;
    display: none;
    text-align: center;
    padding: 1.2rem;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

@media (min-width: 576px) {
    .login__block:hover .login__block__actions .dropdown {
        display: block;
    }
}

.login__block.active {
    z-index: 10;
    display: inline-block;
}

.login__block__header {
    padding: 1.5rem;
    margin-top: -2.4rem;
    position: relative;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);
}

.login__block__header > i, .login__block__header > img {
    display: block;
    margin-bottom: 0.8rem;
}

.login__block__header > i {
    font-size: 3rem;
}

.login__block__header > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.33);
}

.login__block__actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.login__block__actions .dropdown:not(.show) {
    display: none;
}

.login__block__body {
    padding: 1rem;
}

.login__block__btn {
    margin-top: 0.5rem;
}

.login__block__btn, .login__block__btn:hover, .login__block__btn:focus {
    color: #FFFFFF;
}

.login__block__btn:hover {
    opacity: 0.9;
}