<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="common-editor-html(details)">
    <div th:include="wikift-layout/common/wikift-layout-common-script-editor-html::common-script-editor-html"></div>
    <div th:include="wikift-layout/common/wikift-layout-common-script-notify::common-script-notify"></div>
    <div class="row">
        <div class="col-9">
            <!-- 文章基本信息 -->
            <div class="toolbar">
                <div class="toolbar__label">
                    <span class="badge badge-default hidden-xs-down" th:text="${details.articleType.name}"></span>
                    <em th:text="${#dates.format(details.createTime,'yyyy年MM月dd日 HH:mm:ss')}"></em>
                </div>
                <div class="actions">
                    <div class="dropdown actions__item" th:title="${'已有' + details.viewCount + '次访问'}"
                         data-toggle="tooltip" data-placement="top">
                        <span><i class="zmdi zmdi-eye zmdi-hc-fw"></i></span>
                    </div>
                    <div class="dropdown actions__item" th:title="${'已有' + details.fabulouCount + '人点赞'}"
                         data-toggle="tooltip" data-placement="top">
                        <span><i class="zmdi zmdi-eye zmdi-thumb-up"></i></span>
                    </div>
                    <div class="dropdown actions__item" th:title="${'已有' + details.commentsCount + '条评论'}"
                         data-toggle="tooltip" data-placement="top">
                        <span><i class="zmdi zmdi-eye zmdi-comment"></i></span>
                    </div>
                </div>
            </div>
            <!-- 文章内容 -->
            <div class="card">
                <!--<div class="card-header">-->
                <!--<h2 class="card-title" th:text="${details.title}"></h2>-->
                <!--<small class="card-subtitle"></small>-->
                <!--</div>-->
                <div class="card-block">
                    <div id="wikift-editor-html"></div>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                // var editor = new WikiftEditorEntity('wikift-editor-html', [[${details.content}]], '#container');
                var editor = new WikiftEditorEntity('wikift-editor-html', [[${details.content}]]);
                var config = new WikiftEditorConfigEntity();
                WikiftCommonEditor.initMarkdownToHTML(editor, config);
                /*]]>*/
            </script>
            <!-- 文章标签 -->
            <div class="listview">
                <div class="listview__item"></div>
                <div class="listview__item">
                    <div class="listview__content">
                        <div class="listview__heading"
                             th:text="${'改文章共拥有以下' + #arrays.length(details.articleTags) + '个标签'}"></div>
                        <div class="listview__attrs">
                            <span th:each="tag, index : ${details.articleTags}">
                                <img class="widget-visitors__country" src="demo/img/flags/Australia.png" alt="">
                                <span th:text="${tag.name}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 评论区 -->
            <div class="card">
                <div class="card-header bg-light-blue">
                    <div class="widget-calendar__year">请客观的对该文章发表一个有意义(有效)的评论</div>
                </div>
                <div class="card-block">
                    <div th:include="wikift-layout/common/wikift-layout-common-editor::common-editor-commnet"></div>
                </div>
            </div>
            <!-- 文章尾部小工具 -->
            <!--<div class="card-header bg-light-blue">-->
            <!--<div class="widget-calendar__year"></div>-->
            <!--<div class="widget-calendar__day"></div>-->
            <!--</div>-->
        </div>
        <div class="col-3">
            <div id="container">
                <div th:include="wikift-layout/common/wikift-layout-common-auto-catalog::common-auto-catalog"></div>
            </div>
        </div>
    </div>
</div>